<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="a simple login/logout and authentication page"
    />
    <meta name="theme-color" content="#5995fd" />
    <meta name="apple-mobile-web-app-status-bar" content="#5995fd" />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="/images/icons/icon-192.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="manifest" href="/manifest.json" />
    <title>Edit Profile</title>
  </head>
  <body>
    <div class="circle">
      <div class="site-wrap">
        @@include('../components/_header.html') @@include('../pages/_edit.html')
        @@include('../components/_footer.html')
      </div>
    </div>
    <script src="/js/edit.js"></script>
  </body>
</html>
