<!-- Start Authentication Main -->
<main>
  <!-- Start Switch Section -->
  <div class="switch" aria-live="polite">
    <!-- Start Sign Up Tip -->
    <div class="tooltip signup-tip lg:pl-[4.5%] lg:pr-[10%]">
      <section>
        <h3>new here ?</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ex
          ratione. Aliquid!
        </p>
        <button type="button" aria-controls="signup-form">sign up</button>
      </section>

      <figure>
        <img src="/images/log.svg" alt="Sign in" />
      </figure>
    </div>
    <!-- End Sign Up Tip -->

    <!-- Start Sign In Tip -->
    <div class="tooltip signin-tip lg:pl-[8.5%] lg:pr-[6%]">
      <section>
        <h3>one of us ?</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ex
          ratione. Aliquid!
        </p>
        <button type="button" aria-controls="signin-form">sign in</button>
      </section>

      <figure>
        <img src="/images/register.svg" alt="Sign up" />
      </figure>
    </div>
    <!-- End Sign In Tip -->
  </div>
  <!-- End Switch Section -->

  <!-- Start Auth Section -->
  <div class="auth" aria-live="polite">
    <!-- Start Sign In Form -->
    <div class="form-wrap signin-wrap">
      <form id="signin-form" action="/" method="post" novalidate>
        <h2>sign in</h2>

        <div class="input-field username">
          <label for="signin-username">username</label>
          <input
            id="signin-username"
            type="text"
            name="username"
            placeholder="Username"
            autocomplete="username"
            minlength="3"
            maxlength="20"
            required
          />
          <p class="error-message" role="alert" aria-live="assertive"></p>
        </div>

        <div class="input-field password">
          <label for="signin-password">password</label>
          <input
            id="signin-password"
            type="password"
            name="password"
            placeholder="Password"
            minlength="6"
            maxlength="20"
            required
          />
          <p class="error-message" role="alert" aria-live="assertive"></p>
        </div>

        <button type="submit">login</button>
        <p>or Sign in with social platforms</p>

        <!-- Start Socials Links -->
        <div class="social">
          <ul>
            <li>
              <a
                href="https://web.facebook.com"
                target="_blank"
                title="Facebook"
              >
                <svg
                  id="facebook"
                  aria-labelledby="facebook-img"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                >
                  <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <title id="facebook-img">Facebook</title>
                  <path
                    d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
                  />
                </svg>
              </a>
            </li>

            <li>
              <a href="https://twitter.com" target="_blank" title="X-Twitter">
                <svg
                  id="x-twitter"
                  aria-labelledby="x-twitter-img"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <title id="x-twitter-img">X-Twitter</title>
                  <path
                    d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                  />
                </svg>
              </a>
            </li>

            <li>
              <a href="https://google.com" target="_blank" title="Google">
                <svg
                  id="google"
                  aria-labelledby="google-img"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 488 512"
                >
                  <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <title id="google-img">Google</title>
                  <path
                    d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                  />
                </svg>
              </a>
            </li>

            <li class="mx-2">
              <a href="https://linkedin.com" target="_blank" title="Linkedin">
                <svg
                  id="linkedin"
                  aria-labelledby="linkedin-img"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <title id="linkedin-img">Linkedin</title>
                  <path
                    d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Socials Links -->
      </form>
    </div>
    <!-- End Sign In Form -->

    <!-- Start Sign Up Form -->
    <div class="form-wrap signup-wrap">
      <form id="signup-form" action="/" method="post" novalidate>
        <h2>sign up</h2>

        <div class="input-field username">
          <label for="signup-username">username</label>
          <input
            id="signup-username"
            type="text"
            name="username"
            placeholder="Username"
            autocomplete="username"
            minlength="3"
            maxlength="20"
            required
          />
          <p class="error-message" role="alert" aria-live="assertive"></p>
        </div>

        <div class="input-field email">
          <label for="signup-email">email</label>
          <input
            id="signup-email"
            type="email"
            name="email"
            placeholder="Email"
            autocomplete="email"
            required
          />
          <p class="error-message" role="alert" aria-live="assertive"></p>
        </div>

        <div class="input-field password">
          <label for="signup-password">password</label>
          <input
            id="signup-password"
            type="password"
            name="password"
            placeholder="Password"
            minlength="6"
            maxlength="20"
            required
          />
          <p class="error-message" role="alert" aria-live="assertive"></p>
        </div>

        <button type="submit">sign up</button>
        <p>or Sign up with social platforms</p>

        <!-- Start Socials Links -->
        <div class="social">
          <ul>
            <li>
              <a
                href="https://web.facebook.com"
                target="_blank"
                title="Facebook"
              >
                <svg><use href="#facebook"></use></svg>
              </a>
            </li>

            <li>
              <a href="https://twitter.com" target="_blank" title="X-Twitter">
                <svg><use href="#x-twitter"></use></svg>
              </a>
            </li>

            <li>
              <a href="https://google.com" target="_blank" title="Google">
                <svg><use href="#google"></use></svg>
              </a>
            </li>

            <li class="mx-2">
              <a href="https://linkedin.com" target="_blank" title="Linkedin">
                <svg><use href="#linkedin"></use></svg>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Socials Links -->
      </form>
    </div>
    <!-- End Sign Up Form -->
  </div>
  <!-- End Auth Section -->
</main>
<!-- End Authentication Main -->
