<!-- Start Home Main -->
<main>
  <div class="hero flex items-center flex-wrap gap-y-10 mt-24">
    <figure class="w-full lg:w-1/2">
        <img class="w-2/3 mx-auto" src="/images/hero.svg" alt="Authentication" />
    </figure>
    <div class="w-full lg:w-1/2">
        <p class="w-5/6 mx-auto text-center">
            This is a simple authentication page. You can register with a dummy email, and we will store your data in the browser storage. We won't store your data in any other database, and you can delete your browser storage anytime.
        </p>
    </div>
  </div>
</main>
<!-- End Home Main -->
