<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="a simple login/logout and authentication page"
    />
    <meta name="theme-color" content="#5995fd" />
    <meta name="apple-mobile-web-app-status-bar" content="#5995fd" />
    <link
      rel="shortcut icon"
      href="images/icons/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="images/icons/icon-192.png" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="manifest" href="manifest.json" />
    <title>Simple Authentication</title>
  </head>
  <body
    class="w-full h-full font-mainFontFamily text-mainFont text-base overflow-hidden"
  >
    <div class="circle"></div>
    <div class="container min-h-screen mx-auto px-6">
      @@include('./components/_header.html') @@include('./pages/_home.html')
      @@include('./components/_footer.html')
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
